* {
  text-align: center;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  background-image: url("../images/scifibackground.jpg");
  font-size: 20px;

}

.container {
  margin-top: 15px;

}